@model IEnumerable<OrderDetails>
@{
    Layout = "~/Views/Shared/Seller_layout.cshtml";

    ViewBag.Title = "OrderManagement";
}

@section styles{
    <link href="~/Content/css/Seller/Orders/OrderManagement.css" rel="stylesheet" />
    <link href="~/Content/css/Seller/Orders/ReturnManagement.css" rel="stylesheet" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
          integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
          crossorigin="anonymous" />

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    }
<div id="main">
    <nav class="navbar navbar-expand-md navbar-light">
        <div class="col pagetitle">
            <h4 class="navbar-brand blocktitle">
                <span>Order Management</span>
                <br />
                <span class="taketour">
                    Take a tour
                </span>
            </h4>
        </div>
        <div class="btn-group">
            <button id="left-caret" type="button" class="dropdown-toggle d-lg-none" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item active" href="#">All Orders</a>
                <a class="dropdown-item" href="#">Awaiting Action</a>
                <a class="dropdown-item" href="#">Awaiting Awb</a>
                <a class="dropdown-item" href="#">Confirmed</a>
                <a class="dropdown-item" href="#">Shipped</a>
                <a class="dropdown-item" href="#">Delivered</a>
            </div>
        </div>
        <button id="search-icon"
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="fa fa-search"></span>
        </button>
        <div class="collapse navbar-collapse flex-md-row-reverse"
             id="navbarSupportedContent">
            <form class="form-inline mt-3 mt-md-0" action="#">
                <div class="d-flex">
                    <label id="tab">All Orders</label>
                    <input id="search-input"
                           class="form-control-lg"
                           type="search"
                           placeholder="Search for EAN/Offer ID or Item Title"
                           aria-label="Search"
                           aria-invalid="false"
                           style="font-size: .85714rem;
                                     height: 2.78571rem;
                                     width: 300px;
                                     margin:0;
                                     " />
                    <div class="btn-group d-none d-md-block">
                        <button id="filter-menu-caret"
                                type="button"
                                class="btn btn-link dropdown-toggle"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false">
                        </button>
                        <div id="filter" class="dropdown-menu">
                            <div class="menu-container">
                                <form action="#">
                                    <h5>Advanced Search</h5>
                                    <div class="input-group">
                                        <label class="col-4" for="">Keyword</label>
                                        <input type="text" name="" id="" class="form-control" />
                                    </div>

                                    <div class="input-group">
                                        <label class="col-4" for="">EAN</label>
                                        <input type="text" name="" id="" class="form-control" />
                                    </div>
                                    <div class="input-group">
                                        <label class="col-4" for="">SKU</label>
                                        <input type="text" name="" id="" class="form-control" />
                                    </div>
                                    <div class="input-group">
                                        <label class="col-4" for="">AWB</label>
                                        <input type="text" name="" id="" class="form-control" />
                                    </div>
                                    <div class="input-group align-content-center">
                                        <label class="col-4" for="">Order Placed</label>
                                        <input type="date" name="" id="" class="form-control" />
                                        <span class="hyphen">-</span>
                                        <input type="date" name="" id="" class="form-control" />
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <button id="search" class="btn btn-info" type="submit">Search</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </form>
        </div>
    
    </nav>
    <div class="content">
        <div class="tab-wrapper d-none d-lg-block" style="z-index:0">
            <ul class="nav nav-tabs border-bottom-0 tab-list">
                <li class="nav-item active">
                    <a id="all-tab" data-toggle="tab" class="contenttab nav-link active" href="#allorder">
                        All Orders
                    </a>
                </li>
                <li class="nav-item">
                    <a id="awaiting-tab" data-toggle="tab" class="contenttab nav-link" href="#awaiting-action">
                        Awaiting Action
                    </a>
                </li>

                <li class="nav-item">
                    <a id="confirmed-tab" data-toggle="tab" class="contenttab nav-link" href="#confirmed">
                        Confirmed
                    </a>
                </li>
                <li class="nav-item">
                    <a id="shipped-tab" data-toggle="tab" class="contenttab nav-link" href="#shipped">
                        Shipped
                    </a>
                </li>
                <li class="nav-item">
                    <a id="delivered-tab" data-toggle="tab" class="contenttab nav-link" href="#delivered">
                        Delivered
                    </a>
                </li>
            </ul>
        </div>
        <div class="transactions tab-content d-block">
            <div id="allorder" class="tab-pane fade show active" role="tabpanel" aria-labelledby="allOrder-tab">
                @if (Model == null)
                {
                    <h5 class="text-center block-mrgb ng-binding">
                        You don't have any orders in this period
                    </h5>
                    <br />
                    <p>
                        We encourage you to list new items if you have any!
                    </p>
                    <br />
                    <a class="btn tiny" href="#">
                        <i class="btnbox"><img src="boxbtn.png" /></i>Start Listing Items
                    </a>
                }
                else
                {
                        <div class="row m-4" style="justify-content: space-between;">
                            <div class="col-12 col-md-8 ">
                                <span>Orders placed in</span>
                                <select ng-model="options.size" ng-change="updatePagination(options.size)" ng-options="dLimit as dLimit for dLimit in paginationLimits" class="ng-pristine ng-untouched ng-valid">
                                    <option label="Last 30 days" value="number:10">Last 30 days</option>
                                    <option label="Last 30 days" value="number:20" selected="selected">Last 30 days</option>
                                    <option label="Last 30 days" value="number:30">Last 30 days</option>
                                    <option label="Last 30 days" value="number:40">Last 30 days</option>
                                    <option label="Last 30 days" value="number:50">Last 30 days</option>
                                </select>
                            </div>
                            <div class="d-none d-md-block col-md-4 tab-content" id="pills-tabContent">
                                <div class="right" style="margin-right: 1rem;">
                                    <span>Results per page </span>
                                    <select ng-model="options.size" ng-change="updatePagination(options.size)" ng-options="dLimit as dLimit for dLimit in paginationLimits" class="ng-pristine ng-untouched ng-valid">
                                        <option label="10" value="number:10">10</option>
                                        <option label="20" value="number:20" selected="selected">20</option>
                                        <option label="30" value="number:30">30</option>
                                        <option label="40" value="number:40">40</option>
                                        <option label="50" value="number:50">50</option>
                                    </select>

                                    <a href="#"><i class="fa fa-angle-left"></i></a>
                                    <a href="#"><i class="fa fa-angle-left fa-rotate-180"></i></a>
                                </div>
                            </div>

                        </div>

                        <table class="table table-hover mt-3 table-responsive-md">
                            <thead>
                                <tr>
                                    <th>status</th>
                                    <th>Order ID</th>
                                    <th>Items Info</th>
                                    <th>Order Date</th>
                                    <th>Order Age</th>
                                    <th>Net Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var orderDetail in Model)
                                {
                                <tr>
                                    <td>@orderDetail.Status</td>
                                    <td>@orderDetail.OrderID</td>
                                    <td>
                                        <div class="d-flex flex-column flex-lg-row" style="justify-content: space-between;">
                                            <div class="col-12 col-md-3">
                                                <img src="~/images/@orderDetail.Product.Image" style="width: 100px; height: 100px;">
                                            </div>
                                            <div class="col-12 col-md-9">
                                                <h5>@orderDetail.Product.Name</h5>
                                                <p>Categories : @orderDetail.Product.Category.Name</p>
                                                @if (orderDetail.Product.PromotionsID != null)
                                                {
                                                    <p>Promotions : @orderDetail.Product.Promotion.DiscountValue</p>
                                                }
                                            </div>
                                        </div>
                                    </td>
                                    <td>@orderDetail.OrderDate</td>
                                    @{
                                        DateTime end = (DateTime)orderDetail.OrderDate;
                                        DateTime now = DateTime.Now;
                                        TimeSpan diff = end.Subtract(now);
                                    }

                                <td>@diff.ToString(@"dd\:hh\:mm\:ss")</td>
                                    <td>@orderDetail.UnitPrice</td>
                                </tr>
                                }
                            </tbody>
                        </table>
                }
            </div>
            <div id="awaiting-action" class="tab-pane fade ">
                <h5 class="text-center block-mrgb ng-binding">
                    You don't have any orders in this tab currently
                </h5>
                <br />
                <p>
                    We encourage you to list new items if you have any!
                </p>
                <br />
                <a class="btn tiny" href="#">
                    <i class="btnbox"><img src="boxbtn.png" /></i>Start Listing Items
                </a>
            </div>
            <div id="confirmed" class="tab-pane fade">
                <h5 class="text-center block-mrgb ng-binding">
                    You don't have any orders in this tab currently
                </h5>
                <br />
                <p>
                    Read these tips of <a href="#" class="hreflink">how to generate more sales</a>  and grow your business on Souq.com!
                </p>
            </div>
            <div id="shipped" class="tab-pane fade">
                <h5 class="text-center block-mrgb ng-binding">
                    You don't have any orders in this tab currently
                </h5>
                <br />
                <p>
                    Read these tips of <a href="#" class="hreflink">how to generate more sales</a>  and grow your business on Souq.com!
                </p>
            </div>
            <div id="delivered" class="tab-pane fade">
                <div class="right d-none d-md-block p-4" style="margin-right: 1rem; float:right;">
                    <span>Orders placed in  &nbsp;</span>
                    <select class="selectmonths" id="select">
                        <option class="selectmonths" value="text:last-30-days" selected="selected">Last 30 Days</option>
                        <option class="selectmonths" value="text:past-3-months">Past 3 Months</option>
                        <option class="selectmonths" value="text:past-6-months">Past 6 Months</option>
                    </select>
                    <span>Results per page &nbsp;</span>
                    <select class="selectmonths">
                        <option label="10" value="number:10">10</option>
                        <option label="20" value="number:20" selected="selected">20</option>
                        <option label="30" value="number:30">30</option>
                        <option label="40" value="number:40">40</option>
                        <option label="50" value="number:50">50</option>
                    </select>
                    <a href="#"><i class="fa fa-angle-left"></i></a>
                    <a href="#"><i class="fa fa-angle-left fa-rotate-180"></i></a>
                </div>
                <h5 class="text-center block-mrgb ng-binding">
                    You don't have any orders in this period
                </h5>
                <br />
                <p>
                    Read these tips of <a href="#" class="hreflink">how to generate more sales</a>  and grow your business on Souq.com!
                </p>
            </div>
        </div>
    </div>
</div>
@section scripts{
<script>
    $(function () {
        $("#awaiting-tab").on("click", function () {
            $.ajax({
                url: "/seller/awaiting",
                method: "GET",
                success: function (data) {
                    $("#awaiting-action").html(data);
                },
                error: function (err) {
                    console.log(err);
                }
            });
        });
        $("#confirmed-tab").on("click", function () {
            $.ajax({
                url: "/seller/confirmed",
                method: "GET",
                success: function (data) {
                    $("#confirmed").html(data);
                },
                error: function (err) {
                    console.log(err);
                }
            });
        });
        $("#shipped-tab").on("click", function () {
            $.ajax({
                url: "/seller/shipped",
                method: "GET",
                success: function (data) {
                    $("#shipped").html(data);
                },
                error: function (err) {
                    console.log(err);
                }
            });
        });
        $("#delivered-tab").on("click", function () {
            $.ajax({
                url: "/seller/delivered",
                method: "GET",
                success: function (data) {
                    $("#delivered").html(data);
                },
                error: function (err) {
                    console.log(err);
                }
            });
        });
    })
</script>
}