@model CustomerViewModel
﻿@{ 
    Layout = "~/Views/Shared/Customer_Layout.cshtml";
    ViewBag.Title = "edit";
}
@section styles{
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link href="~/Content/css/Customer/Account/AccountEdit.css" rel="stylesheet" />
}
<div class="container">
    <div id="container-row" class="row">
        <div id="left-column" class="col-12 col-lg-3">
            <ul class="list-group">
                <a href="@Url.Action("Account","customer")">
                    <li class="list-group-item list-group-item-action">
                        <i class="far fa-user"></i> My jumia Account
                    </li>
                </a>
                <a href="@Url.Action("OrderHistory","customer")">
                    <li class="list-group-item list-group-item-action">
                        <i class="fa fa-box"></i> Orders
                    </li>
                </a>
                <a href="#">
                    <li class="list-group-item list-group-item-action">
                        <i class="far fa-edit"></i> Pending Reviews
                    </li>
                </a>
                <a href="#">
                    <li class="list-group-item list-group-item-action">
                        <i class="fa fa-money-bill"></i> Jumia Credit
                    </li>
                </a>
                <a href="#">
                    <li class="list-group-item list-group-item-action">
                        <i class="far fa-heart"></i> Saved Items
                    </li>
                </a>
                <a href="#">
                    <li class="list-group-item list-group-item-action">
                        <i class="far fa-clock"></i> Recently Viewed
                    </li>
                </a>
                <hr />
                <a href="#"><li class="list-group-item list-group-item-action">Details</li></a>
                <a href="#">
                    <li class="list-group-item list-group-item-action">
                        Address Book
                    </li>
                </a>
                <a href="#">
                    <li class="list-group-item list-group-item-action">
                        Change Password
                    </li>
                </a>
                <a href="#">
                    <li class="list-group-item list-group-item-action">
                        Newsletter Preferences
                    </li>
                </a>
                <hr />
                <li class="list-group-item">
                    <form action="@Url.Action("LogOff", "Account")" method="POST" class="text-center">
                        @Html.AntiForgeryToken()
                        <button class="" type="submit">LOGOUT</button>
                    </form>
                </li>
            </ul>
        </div>
        <div class="col-12 col-md-9 cards-container">
            <div class="card" style="height: 100%;">
                <h5 class="card-header">Account Overview</h5>
                <div class="card-body row fix-margin">
                    <form class="form-group" action="@Url.Action("Edit","Customer")" method="POST" style="width: 100%;">
                        <div class="row fix-margin justify-content-between">
                            <div class="form-group col-12 col-lg-6">
                                <Label>First Name</Label>

                                <input class="form-control inp-border" name="Customer.Fname" type="text" value="@Model.Fname">
                            </div>
                            <div class="form-group col-12 col-lg-6">
                                <Label>Last Name</Label>
                                <input class="form-control inp-border" name="Customer.Lname" type="text" value="@Model.Lname">
                            </div>
                        </div>
                        <div class="row fix-margin">
                            <div class="form-group col-12 col-lg-6">
                                <Label>E-mail</Label>
                                <input id="email" name="Customer.Email" class="form-control" type="text" disabled value="@Model.Email">
                            </div>
                            <div class="form-group col-12 col-lg-6 row">
                                <div class="col-2">
                                    <label for="">prefix</label>
                                    <div>+20</div>
                                </div>
                                <div class="col-10">
                                    <Label>Phone</Label>
                                    <input class="form-control inp-border" type="text" name="Customer.PhoneNumber" value="@Model.PhoneNumber">

                                </div>
                            </div>
                        </div>
                        <div class="row fix-margin">
                            <div class="form-group col-12 col-lg-6">
                                <Label>Gender</Label>
                                <select class="custom-select inp-border" name="Customer.Customer.Gender" id="">
                                    <option value="None">Please Select</option>
                                    <option value="Male"@(Model.Customer.Gender == GenderType.Male ? "selected" : "")>Male</option>
                                    <option value="female"@(Model.Customer.Gender == GenderType.female ? "selected" : "")>Female</option>
                                </select>
                            </div>
                            <div class="form-group col-12 col-lg-6">
                                <Label>Birthday</Label>
                                <input class="form-control inp-border" type="date" name="Customer.Date" value="@((Model.Date)?.ToString("yyyy-MM-dd"))">
                            </div>
                        </div>
                        <div class="col-12">
                            <button id="btn-save" class="col-12" type="submit">SAVE</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
