@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    @{
        Layout = null;
    }
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
              integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />


        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
              integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

        <link href="~/Content/cart.css" rel="stylesheet" />
        <title>Cart</title>
    </head>

    <body>

        <!-- cart is empty -->
        <!-- <div class="container">
            <div class="row d-inline">
                <h2>cart </h2>

            </div>
        </div>
        <div class="container">
            <div class="row d-flex justify-content-center py-2">
                <div class="d-inline text-center">
                    <span><img src="https://media.istockphoto.com/vectors/shopping-cart-icon-design-cart-icon-symbol-design-vector-id1138644570?k=6&m=1138644570&s=612x612&w=0&h=YDQ1_rwiomJT9R6aGSX3mus0lXcRxGfrlbzLM6vV9eU="
                            alt="" width="300px" height="300px" style="border-radius: 50%;"></span>
                    <h3 class="mt-2">Your Cart is empty !</h3>
                    <p>Already have an account? @Html.ActionLink("Login", "test", null,new { @class = "login" }) to see the items in your cart.</p>
                    @Html.ActionLink("start shopping", "test", null,new { @class = "btn btn-orange" })




                </div>
            </div>
        </div> -->
        <!-- cart is full -->
        <div class="container">
            <div class="row d-inline">
                <h1>cart (1 item)</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim excepturi tempore similique qui vitae
                    reiciendis.
                </p>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <table class="table w-100">
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th>quantity</th>
                            <th>unit price</th>
                            <th>subtotal</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="border-right " style="width: 50%;">
                                <div class="image mr-1">
                                    <img src="https://i.stack.imgur.com/ZGgx0.png" width="50px"
                                         height="auto">
                                </div>
                                <div class="image-body">
                                    <h6>Seller:jumai</h6>
                                    <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut.</h5>
                                    <p>
                                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi architecto inventore,
                                        doloribus sit sunt rerum!
                                    </p>
                                    <div class="acts d-flex">
                                        @Html.ActionLink("move to saved item", "test", null, new { @class = "btn one" })
                                        @Html.ActionLink("remove", "test", null, new { @class = "btn two" })


                                    </div>
                                </div>
                            </td>
                            <td class="border-right" style="width: 10%;">
                                <div class="form-group">
                                    
                                    @*@Html.DropDownList("StudentGender",
                                        new SelectList(Enum.GetValues(typeof(test))),
                                        "Select Gender",
                                        new { @class = "form-control" })*@

                                    <select class="form-control" style="cursor: pointer;">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                    </select>
                                </div>
                            </td>
                            <td class="border-right" style="width: 20%;">EGP 10,866</td>
                            <td style="width: 20%; color: #f68b1e; font-weight: 600;">EGP 10,866</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row d-flex justify-content-end">
                <div class="row">
                    <span class="d-flex">
                        <p>Total:</p>
                        <h5 style="color:#f68b1e; margin-left: 1em;">EGP 10,866</h5>
                    </span>
                </div>
            </div>
        </div>
        <div class="row mr-2 d-flex justify-content-end checkout align-content-center">
            <span>
                @Html.ActionLink("continue shopping", "test", null, new { @class = "btn-orange btn shop" })
            </span>
            <span>
                @Html.ActionLink("continue to checkout", "test", null, new { @class = "btn-orange btn con" })
            </span>
        </div>




        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
                integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
                crossorigin="anonymous"></script>
    </body>

</html>
</body>
</html>
