@using GraduationProject.Models

@{
    Layout = "~/Views/Shared/Seller_layout.cshtml";
    

    ViewBag.Title = "InventoryManagement";
}
@model IEnumerable<Product>
@section styles{
    <link href="~/Content/css/Seller/Inventory/InventoryManagement.css" rel="stylesheet" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
          integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
          crossorigin="anonymous" />

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous" />
   
}



<div id="main">
    <nav class="navbar navbar-expand-md navbar-light">
        <div class="col pagetitle">
            <h4 class="navbar-brand blocktitle">
                <span>Inventory Management</span>
                <br />
                <span class="taketour">
                    Take a tour
                </span>
            </h4>
        </div>
        <div class="btn-group">
            <button id="left-caret" type="button" class="dropdown-toggle d-lg-none" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item active" href="#">Live on Site</a>
                <a class="dropdown-item" href="#">Pending Review</a>
                <a class="dropdown-item" href="#">Rejected</a>
                <a class="dropdown-item" href="#">Expired</a>
                <a class="dropdown-item" href="#">Sold Out</a>
                <a class="dropdown-item" href="#">Paused</a>
            </div>
        </div>
        <button id="search-icon"
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="fa fa-search"></span>
        </button>
        <div class="collapse navbar-collapse flex-md-row-reverse"
             id="navbarSupportedContent">
            <form class="form-inline mt-3 mt-md-0" action="#">
                <div class="d-flex">
                    <label id="tab">Available</label>
                    <input id="search-input"
                           class="form-control-lg"
                           type="search"
                           placeholder="Search for EAN/Offer ID or Item Title"
                           aria-label="Search"
                           aria-invalid="false"
                           style="font-size: .85714rem;
                                     height: 2.78571rem;
                                     width: 300px;
                                     margin:0;
                                     " />
                    <div class="btn-group d-none d-md-block">
                        <button id="filter-menu-caret"
                                type="button"
                                class="btn btn-link dropdown-toggle"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false">
                        </button>
                        <div id="filter" class="dropdown-menu" style="width: 520px;">
                            <div class="menu-container">
                                <form action="#">
                                    <h5>Advanced Search</h5>
                                    <div class="input-group">
                                        <label class="col-4" for="">Keyword</label>
                                        <input type="text" name="" id="" class="form-control" />
                                    </div>
                                    <div class="input-group">
                                        <label class="col-4" for="">Item Type</label>
                                        <input class="form-control" list="categories" placeholder="Please select an item type ..">
                                        <datalist id="categories">
                                            <option value="3D Glasses">
                                            <option value="3D Printers">
                                            <option value="Accessories">
                                            <option value="Air Conditioners & Coolers">
                                            <option value="Air Fresheners">
                                            <option value="3D Glasses">
                                            <option value="3D Printers">
                                            <option value="Accessories">
                                            <option value="Air Conditioners & Coolers">
                                            <option value="Air Fresheners">
                                            <option value="3D Glasses">
                                            <option value="3D Printers">
                                            <option value="Accessories">
                                            <option value="Air Conditioners & Coolers">
                                            <option value="Air Fresheners">
                                            <option value="3D Glasses">
                                            <option value="3D Printers">
                                            <option value="Accessories">
                                            <option value="Air Conditioners & Coolers">
                                            <option value="Air Fresheners">
                                        </datalist>
                                    </div>
                                    <div class="input-group align-items-center">
                                        <label class="col-4" for="">Price</label>
                                        <input type="number" name="" id="" class="form-control" />
                                        <span class="hyphen">-</span>
                                        <input type="number" name="" id="" class="form-control" />
                                    </div>
                                    <div class="input-group btn-group-sm btn-group-toggle align-items-center" data-toggle="buttons">
                                        <label class="col-4" for="">Handling Time</label>
                                        <label class="col-2  btn btn-sm checkselect">
                                            <input type="checkbox" autocomplete="off" class="form-control p-5">
                                            Same Day
                                        </label>
                                        <span class="hyphen">  </span>
                                        <label class="col-3 btn btn-sm checkselect">
                                            <input type="checkbox" autocomplete="off" class="form-control p-5">
                                            2 Business days
                                        </label>
                                        <span class="hyphen">  </span>
                                    </div>
                                    <div class="input-group btn-group-sm btn-group-toggle align-items-center" data-toggle="buttons">
                                        <label class="col-4 " for=""></label>
                                        <label class="btn btn-sm checkselect">
                                            <input type="checkbox" autocomplete="off" class="form-control p-5">
                                            3 Business days
                                        </label>
                                    </div>
                                    <div class="input-group align-items-center">
                                        <label class="col-4" for="">Quantity</label>
                                        <input type="number" name="" id="" class="form-control" />
                                        <span class="hyphen">-</span>
                                        <input type="number" name="" id="" class="form-control" />
                                    </div>
                                    <div class="input-group align-items-center">
                                        <label class="col-4" for="">Last Updated</label>
                                        <input type="date" name="" id="" class="form-control" />
                                        <span class="hyphen">-</span>
                                        <input type="date" name="" id="" class="form-control" />
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <button id="search" class="btn btn-info" type="submit">Search</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </form>
        </div>
    
    </nav>
    <div class="content">
        <div class="tab-wrapper d-none d-lg-block">
            <ul class="nav nav-tabs border-bottom-0 tab-list">
                <li class="nav-item active">
                    <a data-toggle="tab" class="contenttab nav-link active" href="#all0">
                        All
                    </a>
                </li>
                <li class="nav-item">
                    <a data-toggle="tab" class="contenttab nav-link" href="#live-on-site0">
                        Live on Site
                    </a>
                </li>
                <li class="nav-item">
                    <a data-toggle="tab" class="contenttab nav-link" href="#pending-review0">
                        Pending Review
                    </a>
                </li>
                <li class="nav-item">
                    <a data-toggle="tab" class="contenttab nav-link" href="#rejected0">
                        Rejected
                    </a>
                </li>
                <li class="nav-item">
                    <a data-toggle="tab" class="contenttab nav-link" href="#expired0">
                        Expired
                    </a>
                </li>
                <li class="nav-item">
                    <a data-toggle="tab" class="contenttab nav-link" href="#sold-out0">
                        Sold Out
                    </a>
                </li>
                <li class="nav-item">
                    <a data-toggle="tab" class="contenttab nav-link" href="#paused0">
                        Paused
                    </a>
                </li>
            </ul>
        </div>
        <div class="transactions tab-content d-block">
            <div id="all0" class="tab-pane fade show active ">
                @if (Model.Count() == 0)
                {
                    <h5 class="text-center block-mrgb ng-binding">
                        You don't have any listings on Souq. Start selling on Souq now!
                    </h5>
                }
                else
                {

                    <table class="table table-hover  table-responsive-md ">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Image</th>
                                <th>Name</th>
                                <th>Price</th>
                                <th>Description</th>

                                <th>EDIT</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>



                            @foreach (var item in Model)
                            {
                                <tr class="DataTable">
                                    <td>@item.ID</td>
                                    <td><img src="~/images/@item.Image" width="96" height="350" alt="@item.Name"></td>
                                    <td>
                                        @item.Name
                                    </td>
                                    <td>@item.Cost</td>

                                    <td>@item.Description</td>
                                    <td>
                                        @Html.ActionLink("Edit", "edit", "product", new { id = item.ID }, new { @class = "btn btn-warning" })
                                    </td>
                                    <td>
                                        @Html.ActionLink("Delete", "Delete", "product", new { id = item.ID }, new { @class = "btn btn-danger", onclick = "return confirm('are you sure to delete')" })

                                    </td>
                                </tr>

                            }
                        </tbody>
                    </table>
                }
                <br />
                <a class="btn tiny" href="../product/create">
                    <i class="btnbox"><img src="~/images/boxbtn.png" /></i> Start Listing Items
                </a>
            </div>
            <div id="live-on-site0" class="tab-pane fade ">
                <h5 class="text-center block-mrgb ng-binding">

                    You don't have any live listings on Souq, start listing now
                </h5>
                <br />
                <a class="btn tiny" href="Seller/StartListing">
                    <i class="btnbox"><img src="~/images/boxbtn.png" /> </i>     Start Listing Items
                </a>
            </div>
            <div id="pending-review0" class="tab-pane fade">
                <h5 class="text-center block-mrgb ng-binding">
                    You don't have any pending listings now
                </h5>
            </div>
            <div id="rejected0" class="tab-pane fade">
                <h5 class="text-center block-mrgb ng-binding">
                    Cool! No rejected items here
                </h5>
            </div>
            <div id="expired0" class="tab-pane fade">
                <h5 class="text-center block-mrgb ng-binding">
                    There are not expired items here
                </h5>
            </div>
            <div id="sold-out0" class="tab-pane fade">
                <h5 class="text-center block-mrgb ng-binding">
                    You don't have any sold out inventory
                </h5>
            </div>
            <div id="paused0" class="tab-pane fade">
                <h5 class="text-center block-mrgb ng-binding">
                    No paused listings around here
                </h5>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            function contains(txtone, txttwo) {
                if (txtone.indexOf(txttwo) != -1)
                    return true;
            }
            $("#search-input").keyup(function () {
                var searchtxt = $("#search-input").val().toLocaleLowerCase();
                $(".DataTable").each(function () {
                    if (!contains($(this).text().toLocaleLowerCase(), searchtxt)) {
                        $(this).hide();
                    }
                    else {
                        $(this).show();
                    }
                });
            });
        });

        $('[data-toggle="buttons"] .checkselect').on('click', function () {
            // toggle style
            $(this).toggleClass('btn-secondary active');

            // toggle checkbox
            var $chk = $(this).find('[type=checkbox]');
            $chk.prop('checked', !$chk.prop('checked'));
            console.log("selected");
            return false;
        });
    </script>
    @*<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                crossorigin="anonymous"></script>
        <script src="account summary.js"></script>*@
}
