@model ProductViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Product details";
}
@section styles{
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link href="~/Content/css/Product/productDetails.css" rel="stylesheet" />
    <link href="~/Content/toastr.min.css" rel="stylesheet" />
}
<div class="container">

    <div id="container-row">
        <div class="col-12 col-lg-9 cards-container">
            <div class="card" style="flex-direction: row">
                <div class="card-body col-12 col-lg-6">
                    <!--Images in left-->
                    <div class="card-body left col-12 col-md-6">
                        <div class="card-body row">
                            <div>
                                <div>
                                    <div class="carousel text-center slide" id="mycarousel">
                                        <ul id="u2" class="carousel-indicators col-9">
                                            <img src="~/images/shoe_1.jpg"
                                                 data-target="#mycarousel"
                                                 data-slide-to="0"
                                                 class="active" />
                                            <img src="~/images/shoe_1.jpg"
                                                 data-target="#mycarousel"
                                                 data-slide-to="1" />
                                            <img src="~/images/shoe_1.jpg"
                                                 data-target="#mycarousel"
                                                 data-slide-to="2" />
                                            <img src="~/images/shoe_1.jpg"
                                                 data-target="#mycarousel"
                                                 data-slide-to="3" />
                                        </ul>
                                        <div class="carousel-inner">
                                            <div class="carousel-item active">
                                                <img src="~/images/shoe_1.jpg" />
                                            </div>
                                            <div class="carousel-item">
                                                <img src="~/images/shoe_1.jpg" />
                                            </div>
                                            <div class="carousel-item">
                                                <img src="~/images/shoe_1.jpg" />
                                            </div>
                                            <div class="carousel-item">
                                                <img src="~/images/shoe_1.jpg" />
                                            </div>
                                        </div>
                                        <!-- End Of Inner-->

                                        <a href="#"
                                           class="carousel-control-prev"
                                           data-slide="prev"
                                           data-target="#mycarousel">
                                            <span style="
                            margin-top: 25rem;
                            color: black;
                            background-color: transparent !important;
                          "
                                                  class="carousel-control-prev-icon bg-secondary col-2"></span>
                                        </a>
                                        <a href="#"
                                           class="carousel-control-next"
                                           data-slide="next"
                                           data-target="#mycarousel">
                                            <span style="
                            margin-top: 25rem;
                            color: black;
                            background-color: transparent !important;
                          "
                                                  class="carousel-control-next-icon bg-secondary col-2"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body col-12 col-lg-6">
                    <div class="card-body right col-12 col-md-7">
                        <!--right-->
                        <div class="product-content">
                            <button onclick="@(Model.isWished? "unwish(this)":"wish(this)") " id="swapHeart" class="btn-default">
                                <span><i class="fa-heart @(Model.isWished? "fas":"far")"></i></span>
                            </button>
                            <h1 class="product-title">@Model.Product.Name</h1>
                            <span>
                                Brand: <a href="#" style="color: #264996">@Model.BrandName</a> |
                                <a href="#" style="color: #264996">Similar products from @Model.BrandName</a>
                            </span>
                            <div class="product-rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                                <span>@Model.Product.Rate (@Model.FeedBacks.Count)</span>
                            </div>
                            <br />
                            <hr />
                            <div class="product-price">
                                <p>EGP <span>@Model.Product.Cost</span></p>
                                <div id="template">
                                    @if (Model.isAddedToCart)
                                    {
                                        <p>
                                            <i class="far fa-check-circle"></i>
                                            added to cart.
                                        </p>
                                    }
                                    else
                                    {
                                        <button onclick="add()" class="btn imgbtn">
                                            <i class="fas fa-cart-plus float-left"></i>
                                            Add to cart
                                        </button>
                                    }
                                </div>
                            </div>
                            <hr />
                            <div class="product-detail">
                                @if (Model.Product.Promotion != null)
                                {
                                    <h5 class="text-left">@Model.Product.Promotion.ReasonforDiscounts</h5>
                                }
                                <a href="#" style="color: #264996">
                                    <i class="fas fa-shield-alt"
                                       style="width: 24px; height: 24px"></i>
                                    Enjoy 5% cashback on recharge & mobile bill payments on
                                    JumiaPay. Use code: TELE5
                                </a>
                                <br />
                                <a href="#" style="color: #264996">
                                    <i class="fas fa-shield-alt"
                                       style="width: 24px; height: 24px"></i>
                                    Donate now to more than a charity on JumiaPay App and
                                    deliver your support everywhere.
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <pre></pre>
            </div>
        </div>
        <br />
        <div class="col-12 col-lg-9 cards-container">
            <div class="card">
                <h5 class="card-header">Product details</h5>
                <div class="card-body">
                    @Model.Product.Description
                </div>
            </div>
        </div>
        <br />
        <div class="col-12 col-lg-9 cards-container">
            <div class="card">
                <h5 class="card-header">Customer Feedback</h5>
                <div class="card-body row">
                    <div class="image col">
                        <img src="https://www.jumia.com.eg/assets_he/images/chat.6c5fb8ec.svg"
                             width="84"
                             height="72"
                             alt="" />
                        <p style="font-size: 1rem; font-weight: 500; padding: 0">
                            This product has no ratings yet.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="col-12 cards-container">
        <div class="card">
            <h5 class="card-header" style="border-bottom: none">
                More items from this seller
            </h5>
            <div class="card-body row">
                <div class="container text-center my-3">
                    <div class="row mx-auto my-auto">
                        <div id="recipeCarousel"
                             class="carousel slide w-100"
                             data-ride="carousel">
                            <div class="carousel-inner w-100" role="listbox">
                                <div class="carousel-item active">
                                    <div class="row">
                                        <div class="card card-transform col-6 col-md-4 col-lg-2">
                                            <div class="card-body text-center">
                                                <div class="card-img-actions">
                                                    <img class="img-fluid" src="~/images/shoe_2.jpg" />
                                                </div>
                                            </div>
                                            <h6 class="font-weight-semibold mb-2">
                                                <h6 class="text-default mb-2" data-abc="true">
                                                    Toshiba Notebook with 500GB HDD & 8GB RAM
                                                </h6>
                                                <h5 class="mr-1">$12.99</h5>
                                                <h6 class="text-grey"><s>$36.99</s></h6>
                                            </h6>
                                        </div>
                                        <div class="card card-transform col-6 col-md-4 col-lg-2">
                                            <div class="card-body text-center">
                                                <div class="card-img-actions">
                                                    <img class="img-fluid" src="~/images/shoe_2.jpg" />
                                                </div>
                                            </div>
                                            <h6 class="font-weight-semibold mb-2">
                                                <h6 class="text-default mb-2" data-abc="true">
                                                    Toshiba Notebook with 500GB HDD & 8GB RAM
                                                </h6>
                                                <h5 class="mr-1">$12.99</h5>
                                                <h6 class="text-grey"><s>$36.99</s></h6>
                                            </h6>
                                        </div>
                                        <div class="card card-transform col-6 col-md-4 col-lg-2">
                                            <div class="card-body text-center">
                                                <div class="card-img-actions">
                                                    <img class="img-fluid" src="~/images/shoe_2.jpg" />
                                                </div>
                                            </div>
                                            <h6 class="font-weight-semibold mb-2">
                                                <h6 class="text-default mb-2" data-abc="true">
                                                    Toshiba Notebook with 500GB HDD & 8GB RAM
                                                </h6>
                                                <h5 class="mr-1">$12.99</h5>
                                                <h6 class="text-grey"><s>$36.99</s></h6>
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="row">
                                        <div class="card card-transform col-6 col-md-4 col-lg-2">
                                            <div class="card-body text-center">
                                                <div class="card-img-actions">
                                                    <img class="img-fluid" src="~/images/shoe_1.jpg" />
                                                </div>
                                            </div>
                                            <h6 class="font-weight-semibold mb-2">
                                                <h6 class="text-default mb-2" data-abc="true">
                                                    Toshiba Notebook with 500GB HDD & 8GB RAM
                                                </h6>
                                                <h5 class="mr-1">$12.99</h5>
                                                <h6 class="text-grey"><s>$36.99</s></h6>
                                            </h6>
                                        </div>
                                        <div class="card card-transform col-6 col-md-4 col-lg-2">
                                            <div class="card-body text-center">
                                                <div class="card-img-actions">
                                                    <img class="img-fluid" src="~/images/shoe_1.jpg" />
                                                </div>
                                            </div>
                                            <h6 class="font-weight-semibold mb-2">
                                                <h6 class="text-default mb-2" data-abc="true">
                                                    Toshiba Notebook with 500GB HDD & 8GB RAM
                                                </h6>
                                                <h5 class="mr-1">$12.99</h5>
                                                <h6 class="text-grey"><s>$36.99</s></h6>
                                            </h6>
                                        </div>
                                        <div class="card card-transform col-6 col-md-4 col-lg-2">
                                            <div class="card-body text-center">
                                                <div class="card-img-actions">
                                                    <img class="img-fluid" src="~/images/shoe_1.jpg" />
                                                </div>
                                            </div>
                                            <h6 class="font-weight-semibold mb-2">
                                                <h6 class="text-default mb-2" data-abc="true">
                                                    Toshiba Notebook with 500GB HDD & 8GB RAM
                                                </h6>
                                                <h5 class="mr-1">$12.99</h5>
                                                <h6 class="text-grey"><s>$36.99</s></h6>
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="row">
                                        <div class="card card-transform col-6 col-md-4 col-lg-2">
                                            <div class="card-body text-center">
                                                <div class="card-img-actions">
                                                    <img class="img-fluid" src="~/images/shoe_3.jpg" />
                                                </div>
                                            </div>
                                            <h6 class="font-weight-semibold mb-2">
                                                <h6 class="text-default mb-2" data-abc="true">
                                                    Toshiba Notebook with 500GB HDD & 8GB RAM
                                                </h6>
                                                <h5 class="mr-1">$12.99</h5>
                                                <h6 class="text-grey"><s>$36.99</s></h6>
                                            </h6>
                                        </div>
                                        <div class="card card-transform col-6 col-md-4 col-lg-2">
                                            <div class="card-body text-center">
                                                <div class="card-img-actions">
                                                    <img class="img-fluid" src="~/images/shoe_3.jpg" />
                                                </div>
                                            </div>
                                            <h6 class="font-weight-semibold mb-2">
                                                <h6 class="text-default mb-2" data-abc="true">
                                                    Toshiba Notebook with 500GB HDD & 8GB RAM
                                                </h6>
                                                <h5 class="mr-1">$12.99</h5>
                                                <h6 class="text-grey"><s>$36.99</s></h6>
                                            </h6>
                                        </div>
                                        <div class="card card-transform col-6 col-md-4 col-lg-2">
                                            <div class="card-body text-center">
                                                <div class="card-img-actions">
                                                    <img class="img-fluid" src="~/images/shoe_3.jpg" />
                                                </div>
                                            </div>
                                            <h6 class="font-weight-semibold mb-2">
                                                <h6 class="text-default mb-2" data-abc="true">
                                                    Toshiba Notebook with 500GB HDD & 8GB RAM
                                                </h6>
                                                <h5 class="mr-1">$12.99</h5>
                                                <h6 class="text-grey"><s>$36.99</s></h6>
                                            </h6>
                                        </div>
                                    </div>
                                </div>

                                <a class="carousel-control-prev w-auto"
                                   href="#recipeCarousel"
                                   role="button"
                                   data-slide="prev">
                                    <span class="carousel-control-prev-icon bg-dark border border-dark rounded-circle"
                                          aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next w-auto"
                                   href="#recipeCarousel"
                                   role="button"
                                   data-slide="next">
                                    <span class="carousel-control-next-icon bg-dark border border-dark rounded-circle"
                                          aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/toastr.min.js"></script>
    <script>
        function wish(e) {

                $.ajax({
                    method: "POST",
                    url: "/product/@Model.Product.ID/wish",
                    success: function () {
                        toastr.success('item added to wish list');
                        const $el = $(e);
                        $el.attr("onclick", "unwish(this)");
                        const $textNode = $el.find("span i");
                        $textNode.toggleClass("fas far");
                    }
                })

        }
        function unwish(e) {

                $.ajax({
                    method: "POST",
                    url: "/product/@Model.Product.ID/unwish",
                    success: function () {
                        toastr.success('item removed from wish list');
                        const $el = $(e);
                        $el.attr("onclick", "wish(this)");
                        const $textNode = $el.find("span i");
                        $textNode.toggleClass("fas far");
                    }
                })
        }

        function add() {
            $.ajax({
                method: "POST",
                url: "/products/@Model.Product.ID",
                success: function (data) {
                    $("#template").fadeOut(500, function () {
                        $(this).html(`
                    <p>
                        <i class="far fa-check-circle"></i>
                        added to cart.
                    </p>`).fadeIn(500);
                    })
                },
            })
        }
    </script>
}