@model IEnumerable<Product>
@{
    Layout = "~/Views/Shared/Customer_Layout.cshtml";
    ViewBag.Title = "cart";
}
@section styles{
    <link href="~/Content/css/Product/SearchProduct.css" rel="stylesheet" />
}

<div id="container-row" class="row">
    <div id="left-column" class="col-12 col-md-3">
        <form action="#" method="get">
            <input type="hidden" name="searching" value="@ViewBag.searching">
            <ul class="list-group">
                <a href="#">
                    <li class="list-group-item list-group-item-action">
                        <!-- Section: Price -->
                        <section class="mb-4">
                            <div class="row">
                                <h6 class="font-weight-bold mb-3 col-6 text-uppercase">Price</h6>
                                <div id="apply" class="text-center col-6">
                                    <button type="submit">Apply</button>
                                </div>
                            </div>
                                <div class="d-flex align-items-center mt-4 pb-1">
                                    <div class="md-form md-outline my-0">
                                        <input id="from" type="number" class="m-input form-control mb-0" name="min" placeholder="Min">
                                    </div>
                                    <p class="px-2 mb-0 text-muted"> - </p>
                                    <div class="md-form md-outline my-0">
                                        <input id="to" type="number" class="m-input form-control mb-0" name="max" placeholder="Max">
                                    </div>
                                </div>
                        </section>
                        <!-- Section: Price -->
                    </li>
                </a>
                <hr />
                <a href="#">
                    <li class="list-group-item list-group-item-action">
                        <!-- Section: Rating -->
                        <section class="mb-4">
                            <h6 class="font-weight-bold mb-3 text-uppercase">Product Rating (EGP)</h6>
                            <div class="rating-two">
                                <div class="form-inline d-flex align-items-center py-2">
                                    <label class="tick">
                                        <span class="fas fa-star"></span>
                                        <span class="fas fa-star"></span>
                                        <span class="fas fa-star"></span>
                                        <span class="fas fa-star"></span>
                                        <span class="far fa-star">
                                        </span>
                                        &amp; above
                                        <input type="radio" name="rating-input" value="4">
                                        <span class="check"></span>
                                    </label>
                                </div>
                                <div class="form-inline d-flex align-items-center py-2">
                                    <label class="tick">
                                        <span class="fas fa-star"></span>
                                        <span class="fas fa-star"></span>
                                        <span class="fas fa-star"></span>
                                        <span class="far fa-star"></span>
                                        <span class="far fa-star"></span>
                                        &amp; above
                                        <input type="radio" name="rating-input" value="3">
                                        <span class="check"></span>
                                    </label>
                                </div>
                                <div class="form-inline d-flex align-items-center py-2">
                                    <label class="tick">
                                        <span class="fas fa-star"></span>
                                        <span class="fas fa-star"></span>
                                        <span class="far fa-star  text-muted"></span>
                                        <span class="far fa-star  text-muted"></span>
                                        <span class="far fa-star  text-muted"></span>
                                        &amp; above
                                        <input type="radio" name="rating-input" value="2">
                                        <span class="check"></span>
                                    </label>
                                </div>
                                <div class="form-inline d-flex align-items-center py-2">
                                    <label class="tick">
                                        <span class="fas fa-star"></span>
                                        <span class="far fa-star  text-muted"></span>
                                        <span class="far fa-star  text-muted"></span>
                                        <span class="far fa-star  text-muted"></span>
                                        <span class="far fa-star  text-muted"></span>
                                        &amp; above
                                        <input type="radio" name="rating-input" value="1">
                                        <span class="check"></span>
                                    </label>
                                </div>
                            </div>
                        </section>
                        <!-- Section: Rating -->
                    </li>
                </a>
            </ul>
        </form>
    </div>
    <div class="col-12 col-md-9 cards-container">
        <div class="card" style="border:none">
            <div class="card-header">
                <div class="d-flex flex-row">
                    <div class="ml-auto">
                        <div class="sorting">
                            <span class="sort">Sort by:</span>
                            <input class="data-input" list="sorts" placeholder="Popularity">
                            <datalist id="sorts">
                                <option value="Popularity">
                                <option value="Newest Arrivals">
                                <option value="Price: Low to High">
                                <option value="Price: High to Low">
                                <option value="Product Rating">
                            </datalist>
                        </div>
                    </div>
                </div>

            </div>
            <div class="card-header">
                <div class="links ">
                    <ul>
                        <li data-view="list-view" class="li-list active">
                            <i class="fas fa-th-list"></i>
                        </li>
                        <li data-view="grid-view" class="li-grid">
                            <i class="fas fa-th-large"></i>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card-body row">
                <div class="view_main">
                    <div class="view_wrap list-view">
                        @foreach (var item in Model)
                        {
                        <a href="@Url.Action("index","product",new {id = item.ID })" class="a-pointer">
                            <div class="view_item">
                                <div class="product-grid row">
                                    <div class="vi_left product-image">
                                        <img class="image" src="~/images/@item.Image">
                                    </div>
                                    <div class="product-content vi_right">
                                        <h3 class="title"><a href="@Url.Action("index","product",new {id = item.ID })">@item.Name</a></h3>
                                        <ul class="rating">
                                            @{
                                                int totalStars = 5;
                                                int filledStars = (int)Math.Round(item.Rate);
                                            }
                                            @for (int i = 0; i < filledStars; i++)
                                            {
                                                <li class="fas fa-star"></li>
                                            }
                                            @for (int i = filledStars; i < totalStars; i++)
                                            {
                                                <li class="far fa-star"></li>
                                            }
                                        </ul>
                                    </div>
                                    <div class="price-div">
                                        <div class="price">
                                            @if (item.Promotion != null)
                                            {
                                                @:EGP 66.00
                                                <br />
                                                <span>EGP @item.Cost</span>
                                            }
                                            else
                                            {
                                                @:EGP @item.Cost
                                            }

                                        </div>
                                        <div class="btn-price">
                                            <div class="btn-list">Add to cart</div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </a>
                        }
                       
                    </div>
                    <div class="view_wrap grid-view row" style="display:none">
                        @foreach (var item in @Model)
                        {
                        <div class="view_item col-sm-6 col-md-4 col-lg-3">
                            <div class="product-grid">
                                <div class="vi_left product-image">
                                    <img class="image" src="~/images/@item.Image">
                                </div>
                                <div class="product-content vi_right">
                                    <h3 class="title"><a href="#">@item.Name</a></h3>

                                    <div class="price">
                                        @if (item.Promotion != null)
                                        {
                                            @:EGP 66.00
                                            <br />
                                            <span>EGP @item.Cost</span>
                                        }
                                        else
                                        {
                                            @:EGP @item.Cost
                                        }
                                    </div>
                                    <ul class="rating">
                                        @{
                                            int totalStars = 5;
                                            int filledStars = (int)Math.Round(item.Rate);
                                        }
                                        @for (int i = 0; i < filledStars; i++)
                                        {
                                            <li class="fas fa-star"></li>
                                        }
                                        @for (int i = filledStars; i < totalStars; i++)
                                        {
                                            <li class="far fa-star"></li>
                                        }
                                    </ul>
                                    <div>
                                        <pre style="overflow:hidden">

                                            </pre>
                                    </div>
                                    <div class="add-to-cart">Add to cart</div>
                                </div>
                            </div>
                        </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{

    <script>
        var li_links = document.querySelectorAll(".links ul li");
        var view_wraps = document.querySelectorAll(".view_wrap");
        var list_view = document.querySelector(".list-view");
        var grid_view = document.querySelector(".grid-view");

        li_links.forEach(function (link) {
            link.addEventListener("click", function () {
                li_links.forEach(function (link) {
                    link.classList.remove("active");
                })

                link.classList.add("active");

                var li_view = link.getAttribute("data-view");

                view_wraps.forEach(function (view) {
                    view.style.display = "none";
                })

                if (li_view == "list-view") {
                    list_view.style.display = "block";
                }
                else {
                    grid_view.style.display = "flex";
                }
            })
        })
    </script>
}
