
@{
    Layout = "~/Views/Shared/Customer_Layout.cshtml";
    ViewBag.Title = "Register";
}
@model GraduationProject.Models.RegisterViewModel
<!DOCTYPE html>

@section styles{
    @*<link href="~/Content/css/customerRegister.css" rel="stylesheet" />*@
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link href="~/Content/css/register.css" rel="stylesheet" />
}

<div class="body">
    @*@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })*@

    <div class="container">
        <form class="registerForm" action="@Url.Action("Register","Account")" method="post">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <h1>Create Account</h1>

            <div class="form-row">
                <div class="form-group form-input col-md-6">
                    <input type="text" class="form-control" name="Fname" required>
                    <label for="Fname" class="form-label">First Name</label>
                </div>
                <div class="form-group form-input col-md-6">
                    <input type="text" class="form-control" name="Lname" required>
                    <label for="Lname" class="form-label">Last Name</label>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group form-input col-md-6">
                    <input type="email" class="form-control" name="Email" required>
                    <label for="Email" class="form-label">E-mail</label>
                </div>
                <div class="form-group form-input col-md-6">
                    <input type="password" class="form-control" name="Password" id="password-field" required>
                    <label for="Password" class="form-label">Password</label>
                    <span><i class="bi bi-eye-slash-fill toggle-password" toggle="#password-field" style="position: absolute; top: 1rem; right: 3rem; color: #75757a; font-size: x-large;"></i></span>
                </div>
            </div>

            <div class="form-row">
                <div class="row col-md-6">
                    <div class="col-3">
                        <p class="h6"><br />Prefix</p>
                        <h6>+20</h6>
                    </div>
                    <div class="form-group form-input col-9" style="padding-right: 0;">
                        <input type="text" class="form-control" name="PhoneNo" required>
                        <label for="PhoneNo" class=" form-label">Phone Number(Optional)</label>
                    </div>
                </div>
                <div class="form-group form-input col-md-6"></div>
            </div>

            <div class="form-row">
                <label class="checkbox-wrap checkbox-primary">
                    I accept the
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
                <a href="#">Terms & Conditions</a>
            </div>

            <div class="form-row">
                <label class="checkbox-wrap checkbox-primary">
                    I want to receive Jumia Newsletters with the best deals and offers
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
            </div>

            <div class="form-row">
                <button class="btn btnCreateAccount" style="width: 100%;">CREATE ACCOUNT</button>
            </div>

            <div class="form-row" style="padding-top: .1rem; padding-bottom: .1rem;">
                <hr class="col-5">
                <p class="col-1" style="text-align: center;">OR</p>
                <hr class="col-5">
            </div>

            <div class="form-row">
                <a href="https://m.facebook.com/" style="text-decoration: none; width: 100%;">
                    <lable class="btn btn-block loginwithface" type="button">
                        <span><i class="fa fa-facebook-square"></i></span>
                        <span style="margin: auto;">Register WITH FACEBOOK</span>
                    </lable>
                </a>
            </div>

            <div style="text-align: center;">
                <p>Already have an account?  </p>
                <a href="#" style="text-decoration: none; font-weight: bold;">LOGIN</a>
            </div>

        </form>
    </div>
    @section scripts{
        <script src="~/Scripts/main.js"></script>
        <script>
            (function ($) {
                "use strict";
                $(".toggle-password").click(function () {

                    $(this).toggleClass("bi-eye-slash-fill bi-eye-fill");
                    var input = $($(this).attr("toggle"));
                    if (input.attr("type") == "password") {
                        input.attr("type", "text");
                    } else {
                        input.attr("type", "password");
                    }
                });

            })(jQuery);
        </script>
    }




