@model IEnumerable<Order>
@{
    ViewBag.Title = "Orders";
    Layout = "~/Views/Shared/Customer_Layout.cshtml";
}

@section styles{
    <link href="~/Content/css/Customer/Account/Account.css" rel="stylesheet" />
    <link href="~/Content/css/Customer/Orders/Orders.css" rel="stylesheet" />
    <link href="~/Content/css/Customer/Orders/OrderCard.css" rel="stylesheet" />
    <link href="~/Content/css/Customer/Orders/FeedBack.css" rel="stylesheet" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
          integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
          crossorigin="anonymous" />
}






<div class="container">
    <div id="container-row" class="row">
        <div id="left-column" class="col-12 col-lg-3">
            <ul class="list-group">
                <a href="@Url.Action("Account","customer")">
                    <li class="list-group-item list-group-item-action">
                        <i class="far fa-user"></i> My jumia Account
                    </li>
                </a>
                <a href="@Url.Action("OrderHistory","customer")">
                    <li class="list-group-item list-group-item-action">
                        <i class="fa fa-box"></i> Orders
                    </li>
                </a>
                <a href="#">
                    <li class="list-group-item list-group-item-action">
                        <i class="far fa-edit"></i> Pending Reviews
                    </li>
                </a>
                <a href="#">
                    <li class="list-group-item list-group-item-action">
                        <i class="fa fa-money-bill"></i> Jumia Credit
                    </li>
                </a>
                <a href="#">
                    <li class="list-group-item list-group-item-action">
                        <i class="far fa-heart"></i> Saved Items
                    </li>
                </a>
                <a href="#">
                    <li class="list-group-item list-group-item-action">
                        <i class="far fa-clock"></i> Recently Viewed
                    </li>
                </a>
                <hr />
                <a href="#"><li class="list-group-item list-group-item-action">Details</li></a>
                <a href="#">
                    <li class="list-group-item list-group-item-action">
                        Address Book
                    </li>
                </a>
                <a href="#">
                    <li class="list-group-item list-group-item-action">
                        Change Password
                    </li>
                </a>
                <a href="#">
                    <li class="list-group-item list-group-item-action">
                        Newsletter Preferences
                    </li>
                </a>
                <hr />
                <li class="list-group-item">
                    <form action="@Url.Action("LogOff", "Account")" method="POST" class="text-center">
                        @Html.AntiForgeryToken()
                        <button class="" type="submit">LOGOUT</button>
                    </form>
                </li>
            </ul>
        </div>
        <div id="right-column" class="col-12 col-lg-9" style="background-color:white; overflow-y:auto">
            <div>
                <div class="cards-container">
                    <div class="card border-0" style="height: 100%;">
                        <h5 class="card-header">Orders</h5>
                        <div class="topnav">
                            <ul class="nav nav-tabs texttab">
                                <li>
                                    <a id="open" class="contenttab1 nav-item  nav-link border-0 active" href="#open0" data-toggle="tab">Open Order(0)</a>
                                </li>
                                <li>
                                    <a class="contenttab1 nav-item  nav-link border-0" href="#closed0" data-toggle="tab">Closed Order(0)</a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content imagecontent d-block">
                            @if (Model == null)
                            {
                                <div id="open0" class="tab-pane fade show active">

                                    <img class="image" src="https://www.jumia.com.eg/assets_he/images/orders.abbfb10f.svg" height="100" width="100" alt="">
                                    <h2 class="fontimg d-flex">You have placed no orders yet!</h2>
                                    <p class="tab-content parimg">All your orders will be saved here for you to access their state anytime.</p>
                                    <a href="/" class="btn imgbtn">Continue Shopping</a>

                                </div>
                            }
                            else
                            {
                                foreach (var item in Model)
                                {
                                    foreach (var orderdetails in item.OrderDetails)
                                    {
                                        <div class="row justify-content-center justify-content-lg-start card-row">
                                            <div class="col-12 col-md-2 d-flex align-items-center img-container justify-content-center justify-content-md-start">
                                                <img class="img-fit" src="~/images/@orderdetails.Product.Image" alt="">

                                            </div>
                                            <div class="col-12 col-md-7 d-flex flex-column justify-content-between text-container">
                                                <h1 class="title">@orderdetails.Product.Name</h1>
                                                <h2 class="date">Delivery Date : @orderdetails.DeliveredDate.Value.ToString("dd-MM-yyyy")</h2>
                                                @if (orderdetails.UnitPrice != orderdetails.Product.Cost)
                                                {
                                                    <div class="price">
                                                        EGP @orderdetails.UnitPrice
                                                        <span>EGP @orderdetails.Product.Cost</span>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="price">
                                                        EGP @orderdetails.UnitPrice
                                                    </div>
                                                }
                                            </div>
                                            <div class="col-12 col-md-3 d-flex flex-column align-items-center justify-content-md-center">
                                                <a href="@Url.Action("Index","Product",new {id = orderdetails.ProductID})" class="btn">Buy Again</a>
                                                @if (orderdetails.FeedBack == null)
                                                {
                                                    <br>
                                                    <button data-id="@orderdetails.ID" type="button" class="mybtn btn-lg  openmodal align-items-center" data-toggle="modal" data-target="#myModal">Rate it</button>
                                                }
                                            </div>
                                        </div>
                                    }
                                }

                            }
                            <div id="closed0" class="tab-pane fade">
                                <img class="image" src="https://www.jumia.com.eg/assets_he/images/orders.abbfb10f.svg" height="100" width="100" alt="">
                                <h2 class="fontimg d-flex" style="padding:0px 85px;">No Closed Orders to Display</h2>
                                <p class="parimg">All your Closed Orders will be saved here.</p>
                                <a href="/" class="btn imgbtn">Start Shopping</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<!--Division for Modal-->
<div id="myModal" class="modal fade" role="dialog">
    <!--Modal-->
    <div class="modal-dialog">
        <!--Modal Content-->
        <br />
        <br />
        <div class="modal-content">
            <!-- Modal Header-->
            <div class="modal-header" style="background-color: #f68b1e;">
                <h3>Feedback Request</h3>
                <!--Close/Cross Button--> <button type="button" class="close" data-dismiss="modal" style="color: white;">&times;</button>
            </div> <!-- Modal Body-->
            <div class="modal-body text-center">
                <h5>Your opinion matters</h5>
                <h5>Help us improve our product? <br /><strong>Give us your feedback.</strong></h5>
                <hr>
                <h6>Your Rating</h6>
            </div>
            <!-- Radio Buttons for Rating-->
            <form id="modal-form" method="post">
                <fieldset class="rating row d-flex justify-content-center">
                    <input id="demo-1" type="radio" name="rate" value="1">
                    <label for="demo-1">1 star</label>
                    <input id="demo-2" type="radio" name="rate" value="2">
                    <label for="demo-2">2 stars</label>
                    <input id="demo-3" type="radio" name="rate" value="3">
                    <label for="demo-3">3 stars</label>
                    <input id="demo-4" type="radio" name="rate" value="4">
                    <label for="demo-4">4 stars</label>
                    <input id="demo-5" type="radio" name="rate" value="5">
                    <label for="demo-5">5 stars</label>

                    <div class="stars">
                        <label for="demo-1" aria-label="1 star" title="1 star"></label>
                        <label for="demo-2" aria-label="2 stars" title="2 stars"></label>
                        <label for="demo-3" aria-label="3 stars" title="3 stars"></label>
                        <label for="demo-4" aria-label="4 stars" title="4 stars"></label>
                        <label for="demo-5" aria-label="5 stars" title="5 stars"></label>
                    </div>
                </fieldset>
                @*</form>*@
                <!--Text Message-->
                <div class="text-center">
                    <h4>Your Positive Opinion</h4>
                </div>
                <textarea type="textarea" placeholder="Your Message" rows="3" name="positive"></textarea>
                <hr />
                <div class="text-center">
                    <h4>What could we improve?</h4>
                </div>
                <textarea type="textarea" placeholder="Your Message" rows="3" name="negative"></textarea>
                <!-- Modal Footer-->
                <div class="modal-footer justify-content-around">
                    <button id="submit" class="mybtn" onclick="submitForm()">
                        Send
                        <i class="fa fa-paper-plane"></i>
                    </button>
                    <button class="mybtn" data-dismiss="modal">
                        Cancel
                    </button>
                </div>
                <input id="hidden" type="hidden" name="id" />
            </form>
        </div>


        <br />
        <br />
    </div>
</div>



@section scripts{
    <script>
        $(function () {
            $("[data-id]").on("click", function () {
                $("#hidden").val($(this).attr("data-id"));
            });

        })
        function submitForm() {
            $("#modal-form").attr("action", "/Customer/Rate/" + $("#hidden").val()).submit();
        }
    </script>
}
